{% case section.settings.grid %}
  {% when 2 %}
    {%- assign max_height = 530 -%}
  {% when 3 %}
    {%- assign max_height = 345 -%}
  {% when 4 %}
    {%- assign max_height = 250 -%}
  {% when 5 %}
    {%- assign max_height = 195 -%}
{% endcase %}

{% if section.settings.layout == 'grid' %}
  {%- assign limit = section.settings.grid | times: section.settings.rows -%}
{% else %}
  {%- assign limit = 16 -%}
{% endif %}

{% paginate collection.products by limit %}

<style>
  td, th {
    border:none;
 }
 

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
/* Force table to not be like tables anymore */
table,
thead,
tbody,
th,
td,
tr {
  display: block;
}

/* Hide table headers (but not display: none;, for accessibility) */
thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

tr {
  border: 0px solid transparent;
}

td {
  /* Behave  like a "row" */
  border: none;
  border-bottom: 1px solid #eee;
  position: relative;
}

td:before {
  /* Now like a table header */
  position: absolute;
  /* Top/left values mimic padding */
  top: 6px;
  left: 6px;
  width: 45%;
  padding-right: 10px;
  white-space: nowrap;
}
.hidden-desktop {
  display: block;
  margin-bottom: 0em;
}

dl.price.price--listing.price--on-sale {
  font-size: 1.5em;
}

}
/* Style tab links */
.tablink {
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 20%;
  background-color: transparent !important;
  border-bottom: 1px solid;

}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}
button:hover, button:focus, button:active, button:visited, .active { 
  color:#00a4b2;
            border-bottom-style: solid;
            border-bottom-width: 1px;
}



</style>
<div data-section-id="{{ section.id }}" data-section-type="collection-template">
  <div class="collection-hero hidden-mobile">
    <div class="collection-hero__image collection-hero__image-almapiel ratio-container js lazyloaded" data-bgset="https://cdn.shopify.com/s/files/1/0591/9431/0837/files/banner_mujer.jpg" data-parent-fit="cover" data-image-loading-animation="" style="background-image: url(&quot;https://cdn.shopify.com/s/files/1/0591/9431/0837/files/banner_mujer.jpg&quot;);"><picture style="display: none;"><source data-srcset="https://cdn.shopify.com/s/files/1/0591/9431/0837/files/banner_mujer.jpg" sizes="1519px" srcset="https://cdn.shopify.com/s/files/1/0591/9431/0837/files/banner_mujer.jpg"><img alt="" class="lazyautosizes lazyloaded ls-is-cached" data-sizes="auto" sizes="1519px"></picture></div>
    <div class="collection-hero__title-wrapper">
      
    </div>
  </div>
    <div class="hidden-desktop">
      <img src="https://cdn.shopify.com/s/files/1/0591/9431/0837/files/depilacion-mujer-mobile.jpg">
    </div> 


  <header class="collection-header ">
    
    {%- assign is_filter_by_available = false -%}
    {%- if section.settings.tags_enable and collection.all_tags.size > 0 -%}
      {%- assign is_filter_by_available = true -%}
    {%- endif -%}

    {% if section.settings.show_collection_image and collection.image %}
      <div class="container hidden-mobile" style="padding-left: 210px;padding-right: 210px;">
      <table width="100%">
        <tbody>
        <tr>
        <td style="width: 40%;">&nbsp;<img data-mce-fragment="1" alt="" src="https://cdn.shopify.com/s/files/1/0591/9431/0837/files/banner-soprano_480x480.png?v=1630638584" data-mce-src="https://cdn.shopify.com/s/files/1/0591/9431/0837/files/banner-soprano_480x480.png?v=1630638584"></td>
        <td style="width: 60%;">Nuestra tecnología crece para revolucionar el mercado de la depilación láser. En Almapiel contamos con profesionales certificados, formados y habituados en el uso de nuestra tecnología láser. Sabemos cómo adaptar los recursos para entregar nuestro amor por tu piel y obtener así, el mejor y más delicado resultado; el cuidado de tu alma.<br data-mce-fragment="1"><br data-mce-fragment="1">Depilación Láser SOPRANO TITANIUM es la tecnología más eficiente para eliminar en forma definitiva el vello corporal. <br data-mce-fragment="1"><br data-mce-fragment="1">Gracias a su cabezal frío disminuye considerablemente la sensación de dolor, evita quemaduras, su tecnología de depilación SHR (Super Hair Removal) permite una depilación láser más confortable, además de mejorar la piel dañada por la depilación tradicional. Rápido y efectivo en piel clara, oscura y pieles bronceadas, en pelo grueso o fino. Deja tu piel suave y linda. <br data-mce-fragment="1"><br data-mce-fragment="1">Este láser es operado por kinesiólogas certificadas que cumplen estrictos protocolos de atención.</td>
        </tr>
        </tbody>
        </table>
      </div>
        <noscript>
          <div class="collection-hero__image collection-hero__image-almapiel" style="background-image: url({{ collection.image | img_url: '2048x600', crop: 'top' }});"></div>
        </noscript>
        <div class="collection-hero__title-wrapper">
          {% comment %} <h1 class="collection-hero__title page-width">
              <span class="visually-hidden">{{ 'collections.general.collection_label' | t }}: </span>
              {{ collection.title }}
          </h1> {% endcomment %}
        </div>
      </div>
      {% if is_filter_by_available == false and section.settings.sort_enable == false %}
        <div class="page-width">
          <span class="filters-toolbar__product-count">{{ 'collections.general.items_with_count' | t: count: collection.products_count }}</span>
        </div>
      {% endif %}
      {% if collection.description != blank %}
        <div class="rte collection-description page-width">
          {{ collection.description }}
        </div>
      {% endif %}
    {% else %}
      <div class="page-width">
        <div class="section-header text-center">
          <h1>
              <span class="visually-hidden">{{ 'collections.general.collection_label' | t }}: </span>
              {{ collection.title }}
          </h1>
          {% if collection.description != blank %}
            <div class="rte">
              {{ collection.description }}
            </div>
          {% endif %}
          {% if is_filter_by_available == false and section.settings.sort_enable == false %}
            <span class="filters-toolbar__product-count">{{ 'collections.general.items_with_count' | t: count: collection.products_count }}</span>
          {% endif %}
        </div>
      </div>
    {% endif %}

   
  </header>

 

<button class="tablink" onclick="openPage('MUJER', this, 'red')" id="defaultOpen" style=" position: relative; z-index: 9999999999999999; "><span class="span-btn">MUJER</span></button>
<button class="tablink" onclick="openPage('HOMBRE', this, 'green')" style=" position: relative; z-index: 9999999999999999; "><span class="span-btn">HOMBRE</span></button>
<button class="tablink" onclick="openPage('MANTENCIONES', this, 'green')" style=" position: relative; z-index: 9999999999999999; "><span class="span-btn">MANTENCIONES</span></button>
<button class="tablink" onclick="openPage('PACKMUJER', this, 'orange')" style=" position: relative; z-index: 9999999999999999; "><span class="span-btn">PACK MUJER</span></button>
<button class="tablink" onclick="openPage('PACKHOMBRE', this, 'orange')" style=" position: relative; z-index: 9999999999999999; "><span class="span-btn">PACK HOMBRE</span></button>

<div id="MUJER" class="tabcontent">
  {% if section.settings.layout == 'grid' %}
    {% case section.settings.grid %}
    {% when 2 %}
      {%- assign grid_item_width = 'medium-up--one-half' -%}
    {% when 3 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
    {% when 4 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
    {% when 5 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
    {% endcase %}
  
    <ul class="grid grid--uniform{% if collection.products_count > 0 %} grid--view-items{% endif %}">
  {% for product in collections["depilacion-laser-mujer"].products %}
    <li class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
      {% include 'product-card-grid-almapiel', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
    </li>
    
  {% endfor %}
  </ul>
  {% endif %}
  
      {% if is_empty_collection %}
        <div class="grid__item small--text-center">
          <p class="text-center">{{ 'collections.general.no_matches' | t }}</p>
        </div>
      {% endif %}
  
      {%- if paginate.pages > 1 -%}
        {% include 'pagination', paginate: paginate %}
      {%- endif -%}
    </div>
  </div>
</div>

<div id="HOMBRE" class="tabcontent">
  {% if section.settings.layout == 'grid' %}
    {% case section.settings.grid %}
    {% when 2 %}
      {%- assign grid_item_width = 'medium-up--one-half' -%}
    {% when 3 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
    {% when 4 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
    {% when 5 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
    {% endcase %}
  
    <ul class="grid grid--uniform{% if collection.products_count > 0 %} grid--view-items{% endif %}">
  {% for product in collections["depilacion-laser-hombre"].products %}
    <li class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
      {% include 'product-card-grid-almapiel', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
    </li>
    
  {% endfor %}
  </ul>
  {% endif %}
  
      {% if is_empty_collection %}
        <div class="grid__item small--text-center">
          <p class="text-center">{{ 'collections.general.no_matches' | t }}</p>
        </div>
      {% endif %}
  
      {%- if paginate.pages > 1 -%}
        {% include 'pagination', paginate: paginate %}
      {%- endif -%}
    </div>
  </div>
</div>

<div id="MANTENCIONES" class="tabcontent">
  {% if section.settings.layout == 'grid' %}
    {% case section.settings.grid %}
    {% when 2 %}
      {%- assign grid_item_width = 'medium-up--one-half' -%}
    {% when 3 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
    {% when 4 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
    {% when 5 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
    {% endcase %}
  
    <ul class="grid grid--uniform{% if collection.products_count > 0 %} grid--view-items{% endif %}">
  {% for product in collections["sesion-individual-mantenciones"].products %}
    <li class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
      {% include 'product-card-grid-almapiel-notpair', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
    </li>
    
  {% endfor %}
  </ul>
  {% endif %}
  
      {% if is_empty_collection %}
        <div class="grid__item small--text-center">
          <p class="text-center">{{ 'collections.general.no_matches' | t }}</p>
        </div>
      {% endif %}
  
      {%- if paginate.pages > 1 -%}
        {% include 'pagination', paginate: paginate %}
      {%- endif -%}
    </div>
  </div>
</div>

<div id="PACKMUJER" class="tabcontent">
  
  {% if section.settings.layout == 'grid' %}
    {% case section.settings.grid %}
    {% when 2 %}
      {%- assign grid_item_width = 'medium-up--one-half' -%}
    {% when 3 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
    {% when 4 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
    {% when 5 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
    {% endcase %}
  
    <ul class="grid grid--uniform{% if collection.products_count > 0 %} grid--view-items{% endif %}">
  {% for product in collections["packs-mujer"].products %}
    <li class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
      {% include 'product-card-grid-almapiel-pair', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
    </li>
    
  {% endfor %}
  </ul>
  {% endif %}
  
      {% if is_empty_collection %}
        <div class="grid__item small--text-center">
          <p class="text-center">{{ 'collections.general.no_matches' | t }}</p>
        </div>
      {% endif %}
  
      {%- if paginate.pages > 1 -%}
        {% include 'pagination', paginate: paginate %}
      {%- endif -%}
    </div>
  </div>
</div>

<div id="PACKHOMBRE" class="tabcontent">
  
  {% if section.settings.layout == 'grid' %}
    {% case section.settings.grid %}
    {% when 2 %}
      {%- assign grid_item_width = 'medium-up--one-half' -%}
    {% when 3 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-third' -%}
    {% when 4 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-quarter' -%}
    {% when 5 %}
      {%- assign grid_item_width = 'small--one-half medium-up--one-fifth' -%}
    {% endcase %}
  
    <ul class="grid grid--uniform{% if collection.products_count > 0 %} grid--view-items{% endif %}">
  {% for product in collections["packs-hombre"].products %}
    <li class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
      {% include 'product-card-grid-almapiel-notpair', max_height: max_height, product: product, show_vendor: section.settings.show_vendor %}
    </li>
    
  {% endfor %}
  </ul>
  {% endif %}
  
      {% if is_empty_collection %}
        <div class="grid__item small--text-center">
          <p class="text-center">{{ 'collections.general.no_matches' | t }}</p>
        </div>
      {% endif %}
  
      {%- if paginate.pages > 1 -%}
        {% include 'pagination', paginate: paginate %}
      {%- endif -%}
    </div>
  </div>
</div>


{% endpaginate %}

<script>
  function openPage(pageName,elmnt,color) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablink");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].style.backgroundColor = "";
    }
    document.getElementById(pageName).style.display = "block";
    elmnt.style.backgroundColor = color;
  }
  
  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();

  var $buttons = jQuery('button');
$buttons.on('click',function() {
  jQuery(this).toggleClass('active').siblings('button').removeClass('active');
})
  </script>

{% schema %}
{
  "name": {
    "cs": "Stránky s kolekcemi",
    "da": "Kollektionssider",
    "de": "Kategorie-Seiten",
    "en": "Collection pages",
    "es": "Páginas de colección",
    "fi": "Kokoelman sivut",
    "fr": "Pages de collections",
    "it": "Pagine di collezioni",
    "ja": "コレクションページ",
    "ko": "컬렉션 페이지",
    "nb": "Samlingssider",
    "nl": "Collectiepagina's",
    "pl": "Strony kolekcji",
    "pt-BR": "Páginas de coleções",
    "pt-PT": "Páginas de coleções",
    "sv": "Produktseriesidor",
    "th": "หน้าคอลเลกชัน",
    "tr": "Koleksiyon sayfaları",
    "vi": "Trang bộ sưu tập",
    "zh-CN": "产品系列页面",
    "zh-TW": "商品系列頁面"
  },
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": {
        "cs": "Rozvržení",
        "da": "Layout",
        "de": "Layout",
        "en": "Layout",
        "es": "Diseño",
        "fi": "Asettelu",
        "fr": "Mise en page",
        "it": "Layout",
        "ja": "レイアウト",
        "ko": "레이아웃",
        "nb": "Oppsett",
        "nl": "Opmaak",
        "pl": "Układ",
        "pt-BR": "Layout",
        "pt-PT": "Esquema",
        "sv": "Layout",
        "th": "เลย์เอาต์",
        "tr": "Düzen",
        "vi": "Bố cục",
        "zh-CN": "布局",
        "zh-TW": "版面配置"
      },
      "default": "grid",
      "options": [
        {
          "value": "grid",
          "label": {
            "cs": "Mřížka",
            "da": "Gitter",
            "de": "Raster",
            "en": "Grid",
            "es": "Cuadrícula",
            "fi": "Ruudukko",
            "fr": "Grille",
            "it": "Griglia",
            "ja": "グリッド",
            "ko": "그리드",
            "nb": "Rutenett",
            "nl": "Grid",
            "pl": "Siatka",
            "pt-BR": "Grade",
            "pt-PT": "Grelha",
            "sv": "Rutnät",
            "th": "กริด",
            "tr": "Izgara",
            "vi": "Lưới",
            "zh-CN": "网格",
            "zh-TW": "網格"
          }
        },
        {
          "value": "list",
          "label": {
            "cs": "Seznam",
            "da": "Liste",
            "de": "Liste",
            "en": "List",
            "es": "Lista",
            "fi": "Luettelo",
            "fr": "Liste",
            "it": "Elenco",
            "ja": "リスト",
            "ko": "목록",
            "nb": "Liste",
            "nl": "Lijst",
            "pl": "Lista",
            "pt-BR": "Lista",
            "pt-PT": "Lista",
            "sv": "Lista",
            "th": "รายการ",
            "tr": "Liste",
            "vi": "Danh sách",
            "zh-CN": "列表",
            "zh-TW": "清單"
          }
        }
      ]
    },
    {
      "type": "range",
      "id": "grid",
      "label": {
        "cs": "Počet produktů na řádek (jen mřížka)",
        "da": "Produkter pr. række (kun gitter)",
        "de": "Produkte per Reihe (nur Raster)",
        "en": "Products per row (grid only)",
        "es": "Productos por fila (solo cuadrícula)",
        "fi": "Tuotteita per rivi (vain ruudukko)",
        "fr": "Produits par rangée (grille uniquement)",
        "it": "Prodotti per riga (solo griglia)",
        "ja": "行あたりの商品数（グリッドのみ）",
        "ko": "열 별 제품 (그리드 전용)",
        "nb": "Produkter per rad (kun rutenett)",
        "nl": "Producten per rij (alleen grid)",
        "pl": "Liczba produktów na wiersz (tylko siatka)",
        "pt-BR": "Produtos por linha (somente grade)",
        "pt-PT": "Produtos por linha (somente grelha)",
        "sv": "Produkter per rad (endast rutnät)",
        "th": "สินค้าต่อแถว (กริดเท่านั้น)",
        "tr": "Satır başına ürün (yalnızca ızgara)",
        "vi": "Số sản phẩm trên một hàng (chỉ ở kiểu lưới)",
        "zh-CN": "每行产品数（仅限网格）",
        "zh-TW": "每列產品數 (僅限網格)"
      },
      "default": 4,
      "min": 2,
      "max": 5,
      "step": 1
    },
    {
      "type": "range",
      "id": "rows",
      "label": {
        "cs": "Počet řádků na stránku (jen mřížka)",
        "da": "Rækker pr. side (kun gitter)",
        "de": "Reihen per Seite (nur Raster)",
        "en": "Rows per page (grid only)",
        "es": "Filas por página (solo cuadrícula)",
        "fi": "Rivejä per sivu (vain ruudukko)",
        "fr": "Rangées par page (grille uniquement)",
        "it": "Righe per pagina (solo griglia)",
        "ja": "ページあたりの行数（グリッドのみ）",
        "ko": "페이지 별 열 (그리드 전용)",
        "nb": "Rader per side (kun rutenett)",
        "nl": "Rijen per pagina (alleen grid)",
        "pl": "Liczba wierszy na stronę (tylko siatka)",
        "pt-BR": "Linhas por página (somente grade)",
        "pt-PT": "Linhas por página (somente grelha)",
        "sv": "Rader per sida (endast rutnät)",
        "th": "แถวต่อหน้า (กริดเท่านั้น)",
        "tr": "Sayfa başına satır (yalnızca ızgara)",
        "vi": "Số hàng trong một trang (chỉ ở kiểu lưới)",
        "zh-CN": "每行产品数（仅限网格）",
        "zh-TW": "每頁列數 (僅限網格)"
      },
      "default": 2,
      "min": 2,
      "max": 8,
      "step": 1
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "label": {
        "cs": "Zobrazit obrázek kolekce",
        "da": "Vis kollektionsbillede",
        "de": "Kategorie-Foto anzeigen",
        "en": "Show collection image",
        "es": "Mostrar imagen de la colección",
        "fi": "Näytä kokoelman kuva",
        "fr": "Afficher l'image de la collection",
        "it": "Mostra immagine collezione",
        "ja": "コレクションの画像を表示する",
        "ko": "컬렉션 이미지 표시",
        "nb": "Vis samlingsbilde",
        "nl": "Collectieafbeelding weergeven",
        "pl": "Pokaż obraz kolekcji",
        "pt-BR": "Exibir imagem da coleção",
        "pt-PT": "Mostrar imagem da coleção",
        "sv": "Visa produktseriebilder",
        "th": "แสดงรูปภาพคอลเลกชัน",
        "tr": "Koleksiyon görselini göster",
        "vi": "Hiển thị hình ảnh bộ sưu tập",
        "zh-CN": "显示产品系列图片",
        "zh-TW": "顯示商品系列圖片"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": {
        "cs": "Zobrazit dodavatele produktů",
        "da": "Vis produktleverandører",
        "de": "Produktanbieter anzeigen",
        "en": "Show product vendors",
        "es": "Mostrar proveedores del producto",
        "fi": "Näytä tuotteen myyjät",
        "fr": "Afficher les vendeurs",
        "it": "Mostra fornitori prodotto",
        "ja": "商品の販売元を表示する",
        "ko": "제품 공급 업체 표시",
        "nb": "Vis produktleverandører",
        "nl": "Productleveranciers weergeven",
        "pl": "Pokaż dostawców produktu",
        "pt-BR": "Exibir fabricantes do produto",
        "pt-PT": "Mostrar fornecedores do produto",
        "sv": "Visa produktleverantörer",
        "th": "แสดงผู้ขายสินค้า",
        "tr": "Ürün satıcılarını göster",
        "vi": "Hiển thị nhà cung cấp sản phẩm",
        "zh-CN": "显示产品厂商",
        "zh-TW": "顯示產品廠商"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "sort_enable",
      "label": {
        "cs": "Povolit řazení",
        "da": "Aktivér sortering",
        "de": "Sortieren erlauben",
        "en": "Enable sorting",
        "es": "Habilitar la función ordenar",
        "fi": "Ota lajittelu käyttöön",
        "fr": "Activer le tri",
        "it": "Permetti di ordinare",
        "ja": "並べ替えを有効にする",
        "ko": "정렬 사용",
        "nb": "Aktiver sortering",
        "nl": "Sortering inschakelen",
        "pl": "Włącz sortowanie",
        "pt-BR": "Habilitar organização",
        "pt-PT": "Ativar ordenação",
        "sv": "Aktivera sortering",
        "th": "เปิดใช้การจัดเรียง",
        "tr": "Sıralamayı etkinleştir",
        "vi": "Bật phân loại",
        "zh-CN": "启用排序",
        "zh-TW": "啟用排序"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "tags_enable",
      "label": {
        "cs": "Povolit filtrování podle štítku",
        "da": "Aktivér tagfiltrering",
        "de": "Tag-Filtern erlauben",
        "en": "Enable tag filtering",
        "es": "Habilitar filtro de etiquetas",
        "fi": "Ota tunnisteiden suodatus käyttöön",
        "fr": "Activer le filtrage par balises",
        "it": "Attiva filtro tag",
        "ja": "タグでの絞り込みを有効にする",
        "ko": "태그 필터링 사용",
        "nb": "Aktiver taggfiltrering",
        "nl": "Filteren op tags inschakelen",
        "pl": "Włącz filtrowanie tagów",
        "pt-BR": "Habilitar filtragem de tags",
        "pt-PT": "Ativar filtragem por etiqueta",
        "sv": "Aktivera taggfiltrering",
        "th": "เปิดใช้การกรองแท็ก",
        "tr": "Etiket filtrelemeyi etkinleştir",
        "vi": "Bật lọc thẻ",
        "zh-CN": "启用标签筛选",
        "zh-TW": "啟用標籤篩選功能"
      },
      "default": true
    }
  ]
}
{% endschema %}
